:root {
    --clr-primary-800: hsl(179, 100%, 13%);
    --clr-primary-300: #f6f4e8;
    --clr-primary-400: hsl(184, 100%, 22%);
    --clr-accent-100: hsl(31, 77%, 52%);
    --clr-olive: #808000;

    --ff-primary: "Roboto", sans-serif;
    --ff-accent: "Playfair Display", serif;
}
    
*, 
*::before,
*::after {
    box-sizing: border-box;
}

video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -1;
}

body {
    font-family: var(--ff-primary);
    font-weight: 400;
    font-size: 1.3125rem;
    line-height: 1.6;
}

body,
h1,
h2,
p {
    margin: 0;

}

.intro h1 {
    text-align: center;
    padding: .3em;
    z-index: 1;
    position: absolute;
    background: hsl(0 0% 0% / .6);
    font-size: 2em;
}

p {
    max-width: 45ch;
}

.card h2 {
    margin-top: 1em;
}

h1, 
h2 {
    line-height: 1;
    font-family: var(--ff-accent);
    font-weight: 900;
    text-align: center;
}

.body {
    padding: 1.5rem;
    text-align: center;
    margin: 2rem;
}

.body h2 {
    padding: .5rem;

}

.container--small {
    padding: 3rem 0;
    margin-inline: auto;
    width: min(100%, 130rem);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.information {
    min-height: 60vh;
    display: flex;
    flex-direction: row;
}

.intro {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .2);
    object-fit: contain;
    background: linear-gradient(
        hsl(0 0% 0% / 0),
        hsl(0 0% 0% / 100),
    );
}

.card {
    width: 100%;
    text-align: center;
    justify-content: center;
    place-items: center;
}

.split {
    padding: 2rem;
}


.text-dark {
    color: #000;
}

.text-center {
    text-align: center;
}

.bg-light {
    background-color: var(--clr-primary-300);
}
.bg-primary {
    background-color: var(--clr-primary-400);
    color: var(--clr-primary-300);
}
.bg-dark-1 {
    background-color: var(--clr-primary-800);
    color: var(--clr-primary-300);
}
.bg-accent {
    background-color: var(--clr-accent-100);
    color: var(--clr-primary-300);
}

.text-light {
    color: #fff;
}

.bg-olive {
    background-color: var(--clr-olive);
    color: #fff;
}

@media (max-width: 800px) {
    .information {
        flex-direction: column;
    }

    .container--small {
        flex-direction: column;
    }

    .intro h1 {
        display: none;
    }
}

